<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Login</title>
</head>
<body>
    <form action="/admin/login" method="post">
        <input type="text" name="adminname" id="adminname" placeholder="ID를 입력해주세요"
               required oninvalid="this.setCustomValidity('아이디를 입력해주세요')" oninput="this.setCustomValidity('')"><br>
        <input type="password" name="password" id="password" placeholder="PW를 입력해주세요"
               required oninvalid="this.setCustomValidity('비밀번호를 입력해주세요')" oninput="this.setCustomValidity('')"><br>
        <input type="submit" value="로그인">
    </form>
    <p th:if="${msg}" th:text="${msg}"></p>
    <p th:if="${param.error}" th:text="'로그인이 필요합니다.'"></p>
    <div th:if="${logoutMsg}">
        <script th:inline="javascript">
        alert("로그아웃 되었습니다");
        </script>
    </div>
</body>
</html>