<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Main</title>
    <link rel="stylesheet" href="/css/admin/admin_layout.css">
</head>
<body>
<p th:if="${msg}" th:text="${msg}"></p>
<div th:replace="admin/admin_header :: adminHeader"></div>
<div th:replace="admin/admin_aside :: adminAside"></div>
<div th:if="${session.admin != null and session.admin.role == 'cs' and unansweredCount > 0}">
    <p>미답변 문의 
        <strong>
            <a th:href="@{/admin/qnaList}" th:text="${unansweredCount}">0</a>
        </strong>건
    </p>
</div>
<div th:if="${session.admin != null and session.admin.role == 'cs' and unansweredCount == 0}">
    <p>모든 문의가 답변되었습니다</p>
</div>

</body>
</html>