<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/admin/admin_layout.css" />
    <link rel="stylesheet" href="/css/admin/qnaDetail.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="layout">
      <div th:replace="admin/admin_header :: adminHeader"></div>

      <div class="main-wrapper">
        <div th:replace="admin/admin_aside :: adminAside"></div>
        <main class="content qna-detail">
          <h2 class="qna-title" th:text="${qna.title}">문의 제목</h2>

          <div class="qna-meta">
            <p>
              <strong>작성자:</strong>
              <span th:text="${qna.user.username}">userId</span>
            </p>
            <p>
              <strong>작성일:</strong>
              <span
                th:text="${#temporals.format(qna.regDate, 'yyyy-MM-dd HH:mm')}"
              >
                2025-07-13
              </span>
            </p>
          </div>

          <div class="content-box">
            <p>문의 내용:</p>
            <div class="qna-body">
              <div th:text="${qna.content}">문의 본문 내용</div>
            </div>

            <hr class="qna-separator" />

            <form
              class="qna-answer-form"
              th:action="@{/admin/qna/answer}"
              method="post"
            >
              <input type="hidden" name="id" th:value="${qna.qnaId}" />

              <div class="form-group">
                <label for="answer">답변 내용:</label>
                <textarea
                  name="answer"
                  id="answer"
                  rows="8"
                  required
                ></textarea>
              </div>

              <div class="form-actions">
                <button type="submit">답변 등록</button>
              </div>
            </form>
          </div>
        </main>
      </div>
      <!--main-wrapper end-->
    </div>
    <!--layout end-->
  </body>
</html>
