<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Register</title>
</head>
<body>
 <div th:fragment="admin-register-content">
   <form action="/admin/adminRegist" method="post" id="adminForm">
     <table border="1">
       <tbody>
       <tr>
         <th>ID</th>
         <td><input type="text" name="adminname" id="adminname" placeholder="ID 설정"
                    required oninvalid="this.setCustomValidity('아이디를 입력해주세요')" oninput="this.setCustomValidity('')"></td>
       </tr>
       <tr>
         <td colspan="2">
           <button type="button" id="id_check" onclick="checkDuplicate()">중복확인</button>
           <p id="notice_p"></p>
         </td>
       </tr>
       <tr>
         <th>성명</th>
         <td><input type="text" name="name" placeholder="성명 입력"
                    required oninvalid="this.setCustomValidity('성명을 입력해주세요')" oninput="this.setCustomValidity('')"></td>
       </tr>
       <tr>
         <th>ROLE 지정</th>
         <td>
           <select name="role" id="role" required>
             <option value="" hidden selected>Role선택</option>
             <option value="super">super</option>
             <option value="planner">planner</option>
             <option value="approver">approver</option>
             <option value="cs">cs</option>
           </select>
         </td>
       </tr>
       </tbody>
     </table>
     <br>
     <input type="submit" value="등록">
   </form>
   <p>※ Notice ※</p>
   <p>초기 비밀번호는 1234로 저장됩니다.
     로그인 후 꼭 비밀번호를 변경해주세요</p>
 </div>
</body>
</html>